{
  "presets": ["es2015", "stage-0"],
  "plugins": ["transform-flow-strip-types"],
  "env": {
    "development": {
      "sourceMaps": "inline"
    },
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
